@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Saira+Extra+Condensed:wght@400;500;600;700;800;900&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Saira Extra Condensed', sans-serif; */
@font-face {
    font-family: azo_black;
    src: url(../media/font/AzoSansBlack.otf);
}

/*Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0*/
@font-face {
    font-family: alleyn;
    src: url(../media/font/AlleynW01Semibold.ttf);
}