/* SG COLOR SCHEME */
/* #3cc194 */

::-moz-selection {
  /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}



* {
  transition: all ease-in 250ms;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Saira Extra Condensed', sans-serif;

}

/* NAVBAR */

nav {
  position: relative;
  padding: 0 4em;
  z-index: 999;
  background-color: rgb(0, 0, 0);
}



nav ul li a {
  color: rgb(255, 255, 255);
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 1.4em;
  font-weight: 500;
}

nav ul li:hover {
  transition: all ease-in 200ms;
  background-color: #fff;
}

nav ul li a:hover {
  transition: all ease-in 200ms;
  color: rgb(32, 32, 32);
}

.img-resize {
  padding: 1.2rem !important;
  height: auto;
  width: auto;
  max-width: 13rem;
  max-height: 7rem;
}

.clip-img {
  margin-left: 2%;
  background-color: rgb(247, 247, 247);
  clip-path: polygon(7% 0%, 100% 0%, 92% 93%, 0 85%);
}

.clip-img:hover {
  background-color: rgb(255, 198, 74);
}

/* NAVBAR - END */

/* CAROUSEL */
.owl-one a {
  text-align: center;
}

.owl-one h4 {
  position: absolute;
  width: 100%;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #fff;
  background-color: rgb(12, 12, 12);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

/* CAROUSEL - END*/

/* WHAT WE DO */
.solutions {
  padding: 3em 5em;
}

.solutions h1 {
  font-weight: bold;
}

.solutions p {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

@media only screen and (max-width: 601px) {
  .solutions {
    padding: 1em 2em;
  }
}

.solutions .card-panel {
  width: 100%;
  margin: 1em auto;
  border: #000000 solid 1px;
  border-radius: 0;
  -webkit-box-shadow: -10px 10px 0px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 10px 0px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 10px 0px 3px rgba(0, 0, 0, 0.75);
  transition: all ease-in 200ms;
}

.solutions .card-panel i {
  font-size: 3em;
  color: #383838;
}

.solutions .card-panel:hover {
  cursor: pointer;
  transform: scale(1.03);
  -webkit-box-shadow: -12px 12px 0px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -12px 12px 0px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -12px 12px 0px 3px rgba(0, 0, 0, 0.75);
  transition: all ease-in 200ms;
}


.solutions img {
  width: 30%;
}


/* WHAT WE DO - END */


/* SOME OF OUR CLIENTS */
#clients {

  background-color: rgb(0, 0, 0);
  color: #f5f5f5;
}

#clients h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  height: 70px;
  line-height: 80px;
}

.clients {
  margin: 0;
}

.clients .brucre {
  background-color: rgb(255, 153, 0);
  color: rgb(0, 0, 0);
}

.clients .classicloset {
  background-color: rgb(255, 0, 140);
  color: rgb(250, 250, 250);
}

.clients .medogle {
  background-color: rgb(14, 148, 1);
  color: rgb(255, 255, 255);
}

.clients .fresholic {
  background-color: rgb(24, 202, 0);
  color: rgb(226, 226, 226);
}

.clients .ninetycafe {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 217, 0);
}

.clients .obb {
  background-color: rgb(0, 107, 168);
  color: antiquewhite;
}

.clients h1 {
  font-size: 2em;
  margin: 0;
  height: 20vh;
  line-height: 20vh;
  color: rgb(0, 0, 0)
}

/* SOME OF OUR CLIENTS - END */

/* WHY CHOOSE US */
.why {
  padding-top: 40px;
  background-color: #f5f5f5;
}

.why .row {
  margin-bottom: 0 !important;
}

.why .row p {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  font-size: medium;
  padding: 1% 10%;
}

.why img {
  width: 30%;
}

.whyEach {
  padding: 3em !important;
}

@media only screen and (max-width: 601px) {
  .whyEach {
    padding: 2em 3em !important;
  }
}

.whyEach img {}

.whyEach img:hover {
  transform: scale(1.15);
}

.whyEach h2 {
  margin: 0;
}

.whyEach p {
  font-family: 'Poppins', sans-serif;
  font-size: medium !important;
  padding: 2% !important;
  margin: 0;
}


/* WHY CHOOSE US - END */

.dividerContent1 {
  height: auto;
  background: #51e2c2;
  overflow: hidden;
  position: relative;
}

.dividerDiagonal1 {
  width: 0;
  height: 0;
  border-top: 70px solid #f5f5f5;
  border-left: 100vw solid transparent;
}


/* TESTIMONIAL */
.testimonial {
  background-color: #51e2c2;
  padding-bottom: 5em;
}

.testimonial h3 {
  margin-top: 0;
  padding: 20px 0;
  color: #fff;
}

.testimonial .card-header {}

.testimonial .card-header img {
  border-radius: 10%;
  float: left;

  width: 20%;
}

.card-panel {
  border-radius: 10px;
  margin: 30px;
}

.card-panel p {
  font-family: 'Poppins', sans-serif;
  padding: 20px 0;
}

.header-desc {
  text-align: center;
}

.header-desc h4 {
  margin-bottom: 0;
}

.header-desc h6 {
  margin-bottom: 0;
  font-weight: bold;
}


/* TESTIMONIAL - END */


/* OUR WORKS */
/* OUR WORKS - END */


/* FOOTER  */
footer li a {
  color: #fff;
}

/* FOOTER - END */


/* SOLUTIONS MAIN  */
#solutionsHero {
  padding: 5%;
  height: 100vh !important;
  background-color: #3cc195;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

#solutionsHero h3 {
  font-size: 3.8em;
  font-family: 'Poppins', sans-serif;
  /* margin-bottom: 1em; */
}

#solutionsHero p {
  margin: 3em 0;

}

#solutionsHero .btn-large {
  background-color: #ffffff;
  color: #444;
  border: solid 1px #444;
}

#solutionsHero .btn-large:hover {
  background-color: transparent;
  border: solid 1px white;
  color: rgb(255, 255, 255);
}


#solutionsHero .typewriter {
  /* color: #3cc195; */
  color: rgb(253, 229, 90);
  background: rgb(0, 0, 0);
  line-height: 1;
  font-size: 3em;
}

#solutionsMain {
  padding: 0 5em;
}

#solutionsMain .row {
  margin-bottom: 0 !important;
}

#solutionsMain h2.title {
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  padding: 1em 0;
  margin-top: 0;
}

#solutionsMain .title h3 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: bold;
  font-size: 10rem;
  color: #000000a1;
  margin: 0;
  padding: 0%;
  /* line-height: 4rem; */
}

#solutionsMain .solutions-container {
  position: relative;
  transform: translateY(-12%);
  height: 80vh;
}

#solutionsMain .solutions-container:hover {
  transform: translateY(-5%);
  transition: all ease-out 300ms;


}

#solutionsMain .solutions-container img {
  height: 80vh;
}

#solutionsMain .solutions-container img:hover {
  box-shadow: 1px 1px 17px 0 rgb(0 0 0 / 41%);

}

#solutionsMain .translate {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 2em 0;
}

#solutionsMain .translateRight {
  left: 0;
}

#solutionsMain .translateLeft {
  right: 0;
}

#solutionsMain .card-panel {
  width: 100%;
  margin: 1em auto;
  border: rgb(218, 218, 218) solid 1px;
  border-radius: 0;
  box-shadow: 1px 1px 17px 0 rgb(0 0 0 / 41%);
  transition: all ease-in 200ms;
}

#solutionsMain .card-panel i {
  font-size: 3em;
  color: #383838;
}

#solutionsMain .card-panel:hover {
  cursor: pointer;
  /* transform: scale(1.01); */
  box-shadow: none;
  transition: all ease-in 200ms;
}

/* SOLUTIONS MAIN - END */


/* TEAM MAIN  */

#aboutHero {
  padding: 5%;
  height: 100vh !important;
  background-color: #979e86;
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
}

#aboutHero img {
  border-radius: 50%;
}

#aboutHero p {
  margin: 2em 0;

}

#aboutHero .btn-large {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: solid 1px rgb(0, 0, 0);
}

#aboutHero .btn-large:hover {
  background-color: transparent;
  border: solid 1px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}


#aboutHero .typewriter {
  color: rgb(238, 238, 238);
  background-color: #000;
  font-weight: bold;
  font-size: 3em !important;
  line-height: 1;
}

#aboutMain {
  padding: 0 5em;

}

#aboutMain h2.title {
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  padding: 0.5em 0;
  margin-top: 0;
}

#aboutMain .aboutContent {
  font-family: 'Poppins', sans-serif;
  margin: 2em 0;

}

.half-color1 {
  position: relative;
}

.half-color1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background-color: rgb(255, 225, 58);
  z-index: -10;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.half-color2 {
  position: relative;
}

.half-color2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background-color: #f79a0e;
  z-index: -10;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.half-color3 {
  position: relative;
}

.half-color3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background-color: #979e86;
  z-index: -10;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.half-color4 {
  position: relative;
}

.half-color4:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background-color: #9f9fa0;
  z-index: -10;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

#aboutMain .card .card-content .card-title {
  margin-bottom: 0;
}

#aboutCard {
  /* padding: 0 3rem; */
}

#aboutCard .card {
  margin: 30px
}

#aboutCard img {
  transform: translate(-15px, -20px);
}

#aboutCard .card-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.9em;
}



#aboutCard p.designation {
  font-size: 1.3rem;
  font-weight: bold;
}

#aboutCard .card-image.zia {
  background-color: crimson;
}

#aboutCard p.designation.zia {
  color: crimson;
}

#aboutCard .card-image.areeb {
  background-color: #e2cd0e;
}

#aboutCard p.designation.areeb {
  color: #a89c2d;
}

#aboutCard .card-image.shayan {
  background-color: #22211d;
}

#aboutCard p.designation.shayan {
  color: #22211d;
}

#aboutCard p.quote {
  font-size: 1.3rem;
}

#aboutCard .social-icon {
  margin-top: 10px;
}

#aboutCard .social-icon i {
  margin: 5px;
  font-size: 1.5rem;
  color: #444;
}


/* ABOUT MAIN - END */

/* CONTACT MAIN  */

#contactHero {
  padding: 5%;
  height: 100vh !important;
  background-color: #f5f5f5;
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
}

#contactHero img {
  border-radius: 50%;
}

#contactHero p {
  margin: 2em 0;

}

#contactHero .btn-large {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: solid 1px rgb(0, 0, 0);
}

#contactHero .btn-large:hover {
  background-color: transparent;
  border: solid 1px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}


#contactHero .typewriter {
  color: rgb(37, 37, 37);
  background-color: rgb(241, 241, 241);
  font-weight: bold;
  font-size: 3em !important;
  line-height: 1;
}

#contactMain {
  /* padding: 0 5rem; */

}

#contactMain h2.title {
  font-family: 'Poppins', sans-serif;
  font-size: 3.5rem;
  padding: 0.5rem 5rem;
  margin-top: 0;
}

#contactMain .contactContent {
  font-family: 'Poppins', sans-serif;
  padding: 0 5em;
  margin: 2em 0;

}

/* CONTACT MAIN - END */